name: GIT Flow
on:
  workflow_dispatch:
    inputs:
      gitflow_type:
        description: Please choose Version Push Type
        type: choice
        options:
          - version_increment
          - release_start
          - release_finish
          - hotfix_start
          - hotfix_finish
      increment_type:
        description: Choose Increment Type From Option
        type: choice
        options:
          - major
          - minor
          - patch
env:
  GIT_SSH_PK: ${{ secrets.GIT_SSH_PK }}
jobs:
  gitflow:
    runs-on: ubuntu-latest
    name: Git Flow
    steps:
      - uses: actions/checkout@v3

    outputs:
      gitflow_type: ${{ inputs.gitflow_type }}
      increment_type: ${{ inputs.increment_type }}

  codepromotion:
    needs: gitflow
    uses: ./.github/workflows/call_gitflow.yml
    secrets: inherit
    with:
      gitflow_type: ${{ needs.gitflow.outputs.gitflow_type }}
      increment_type: ${{ needs.gitflow.outputs.increment_type }}
